{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure                 {:mvn/version "1.10.3"}
  org.clojure/clojurescript           {:mvn/version "1.10.844"}
  applied-science/js-interop          {:mvn/version "0.2.7"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
  cljs-bean/cljs-bean                 {:mvn/version "1.6.0"}
  mhuebert/kitchen-async              {:mvn/version "0.1.0"}
  com.lambdaisland/glogi              {:mvn/version "1.0.116"}
  reagent/reagent                     {:mvn/version "1.0.0"}

  lambdaisland/data-printers {:mvn/version "0.0.22"}
  com.lambdaisland/daedalus  {:mvn/version "0.0.35"}
  lambdaisland/dom-types     {:local/root "/home/arne/github/lambdaisland/dom-types"}
  lambdaisland/puck          {:local/root "/home/arne/github/lambdaisland/puck"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.12.5"}
                 djblue/portal        {;;:git/url "https://github.com/djblue/portal.git"
                                       ;;:sha "e493b18c54b642db730c5de218c40f88d0a538b1"
                                       #_#_ :mvn/version "0.10.0"
                                       :local/root "/home/arne/github/portal"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.829"}}}}}
